@import "common.scss";
@import "variable.scss";
@import "page_header.scss";

h1 {
	text-align: center;
}

body {
	font-size: 16px;
}

.container {
	margin: 0 auto;
	background: rgb(247,247,247);
}

.carousel {
	margin-top: $nav-height;
	widows: 100%;
	height: 700px;
	overflow: hidden;
}
.carousel:after {
	display:block;
	clear:both;
	content:"";
	visibility:hidden;
	height:0;
}

.introduce {
	margin: 0 200px;
	padding: 50px 100px;
	text-align: center;

	h3 {
		margin: 20px 0;
	}

	p {
		font-size: 24px;
		line-height: 1.5;
		color: #7a7e89;
	}
}

.direction {
	width: 1140px;
	padding: 0 15px;
	margin: 0 auto;

	h1 {
		margin: $module-margin;
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 0 auto;

		li {
			margin: 15px 0;
			position: relative;

			a {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: rgba(180, 180, 180, 0.9);
				opacity: 0;
				transition: 0.5s;
			    z-index: 12;

				div {
					position: absolute;
					bottom: -20px;
					left: 0;
					width: 100%;
					text-align: center;
					transition:0.8s, ease-out;
	
					p {
						margin: 10px 0;
					}
					p:first-child {
						color: white;
						font-size: 20px;
						font-weight: 400;
					}
					p:last-child {
						color: rgb(200,200,200);
						font-size: 15px;
					}
				}
			}
		}

		img {
			width: 350px;
			height: 200px;
		}
	}

	:hover > a {
		opacity: 1;
	}
	:hover > a > div {
		bottom: 20px;
	}
}

.hot {
	width: 1140px;
	margin: 0 auto;

	h1 {
		margin: $module-margin;
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 0 auto;
		
		li {
			background: white;
			margin: 0px 0 20px 0;
			padding-bottom: 30px;
			width: 350px;
			overflow: hidden;
			box-shadow:0px 6px 62px -6px rgba(0, 0, 0, 0.3);

			h1 {
				margin: 10px 0;
				font-size: 20px;
				font-weight: 300;
				text-align: left;
				font-family: "Open Sans", Arial, sans-serif;
				color: rgba(0, 0, 0, 0.6);
			}

			img {
				width: 100%;
				height: 220px;
			}

			.hot-content {
				padding: 0 20px;

				p {
					clear:both;
					padding: 10px 0;
					line-height: 1.4;
					margin-bottom: 20px;
					color: #848484;
				}

				.hot-info {
					span:first-child {
						float:left;
					}
					span:last-child {
						float:right;
					}
				}

				a {
					margin: 20px 0;
					background: #ef6249;
					color: white;
					border: 2px solid #ef6249;
					font-size: 16px;
					font-weight: 400;
					padding: 8px 20px;
					font-size: "Open Sans", Arial, sans-serif;
					text-align: center;
					vertical-align: middle;
					border-radius: 30px;
				}
			}
		}
	}
}

footer {
	background: #2F3032;
	height: 200px;
}



